registry=https://registry.npmjs.org/
@tsconfig:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@vitest:registry=https://registry.npmjs.org/
@vue:registry=https://registry.npmjs.org/
