@font-face {
  font-family: 'InterVariable';
  src:
    local('Inter Variable'),
    local('Inter'),
    url('./fonts/inter/Inter-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ManropeVariable';
  src:
    local('Manrope Variable'),
    local('Manrope'),
    url('./fonts/manrope/Manrope-Variable.woff2') format('woff2');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}
